<h2>this is the new timeline youve just created</h2>

<div class="row">

	<div class="col-xs-6">
		<h4>Timeline Title:</h4>
		<h4><%= timeline.title %></h4>
	</div>
	<div class="col-xs-6">
		<h4>Description:</h4>
		<h4><%= timeline.description %></h4>
	</div>
</div>